.loading{
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}



* {
    font-size: 1em;
}

.title-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.description {
    color: var(--border-light);
}

.sorter{
    display: flex;
    gap: 15px;
    align-items: center;
}

#sort-option{
    max-width: 150px;
    min-width: 0;
}

.list-features{
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}


.custom-button{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid var(--border-light);
    padding: 10px;
    border-radius: 15px;
}

.custom-button:hover{
    color: var(--border-light);
}

.button-flex{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
}

.delete{
    background-color: var(--light-red) !important;
}

.detail-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.detail-field > span:first-of-type {
    margin-top: 13px;
    margin-bottom: 16px;
    font-size: 1.2em;
}

.detail-field >span  {
    margin-top: 16px;
    margin-bottom: 16px;
}

.many-detail-container{
    margin-top: 16px;
}

.random-pick{
    display: flex;
    align-items: center;
    max-width: 475px;
    border: 2px solid var(--border-light);
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
}

.random-picker-error{
    max-width: 475px;
    font-size: .8em;
    height: 20px;
    margin-bottom: 15px;
}

.item-edit{
    display: flex;
    flex-direction: column;
}

.item-edit > label {
    margin: 20px 0 7px 0;
}

.item-edit > input, textarea, select {
    min-width: 475px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--border-light);
    color: white;
    font-family: var(--font);
    font-size: 1em;
    background-color: var(--highlighted-bg);
}

